/* styles.css */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
    height: 100%;
    position: fixed;
    transform: translateX(-200px);
    transition: transform 0.3s;
}

.show-sidebar {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    margin-left: 0;
    padding: 20px;
}

#toggleButton {
    margin: 10px;
}
